@model FeelItaly.Models.Receita

<table style="width:100%">
    <tr>
        <th>Nome</th>
        <th>Informação Nutricional</th>
        <th>Tempo</th>
        <th>Avaliação</th>
    </tr>
    <tr>
        <td>@Model.nome</td>
        <td>@Model.nutricional kcal</td>
        <td>@Model.tempoTotal min</td>
        <td>@Model.avaliacao</td>
    </tr>
</table>

<h1>Passos:</h1>
@Model.ReceitaPassos