@model FeelItaly.Models.PassoTotal

<script src="~/js/Time.js"></script>

<script src="~/js/Recognizer.js"></script>

<script>
    var synth = window.speechSynthesis;
    var voices = synth.getVoices();
    var inputTxt = "@Model.desc_passo";

    function startRecognition() {

        var utterThis = new SpeechSynthesisUtterance(inputTxt);

        utterThis.pitch = 1;
        utterThis.voice = voices[15];
        utterThis.rate = 1;

        synth.speak(utterThis);
    }

    startRecognition();
</script>

<link rel="stylesheet" href="~/css/ExecuteReceita.css" />

<div class="application-main " data-commit-hovercards-enabled="" style="min-width:1200px">


    <div class="d-flex flex-wrap bg-gray">

        <div class="col-12 col-md-8 col-lg-6 p-responsive mt-3 d-flex flex-auto" style="min-width:800px">

            <div class="mx-auto d-flex flex-auto flex-column" style="min-width:600px">

                @if (Model.modo_subreceita == true) {
                    <h6 class="center">Subreceita <b>@Model.nomeReceita</b></h6>
                }

                <h1>Passo @Model.numero</h1>

                @if (Model.subreceita == null) {
                    <p>@Model.desc_passo</p>
                }
                else {
                <form asp-controller="ReceitaPassoView" asp-action="ExecuteReceita" asp-route-idreceita="@Model.subreceita.idReceita" asp-route-numero="1" asp-route-subreceita="true" asp-route-subreceita_num_anterior="@Model.numero" asp-route-subreceita_id_principal="@Model.idReceita">
                    <p><input type="submit" value="@Model.desc_passo" class="btn btn-default btn-success" /></p>
                </form>
                }

                @{ 
                    string path = Model.tutorial;
                    if (path != null)
                    {
                        <iframe src="@path"></iframe>
                    }
                }

                @{ Model.numero = Model.numero; }

                @if (Model.modo_subreceita == false){
                    <form asp-controller="ReceitaPassoView" asp-action="ExecuteReceita" asp-route-idreceita="@Model.idReceita" asp-route-numero="@Model.numero">
                        <div class="form-group play_button3">
                            <input id="repete" type="submit" value="            &#x21BB;            " class="btn btn-default btn-success" />
                        </div>
                    </form>
                }
                else{
                    <form asp-controller="ReceitaPassoView" asp-action="ExecuteReceita" asp-route-idreceita="@Model.idReceita" asp-route-numero="@Model.numero" asp-route-subreceita="true" asp-route-subreceita_num_anterior="@Model.subreceita_num_anterior" asp-route-subreceita_id_principal="@Model.subreceita_id_principal">
                        <div class="form-group play_button3">
                            <input id="repete" type="submit" value="            &#x21BB;            " class="btn btn-default btn-success" />
                        </div>
                    </form>
                }

                @{ Model.numero++; }

                @if (Model.numero <= Model.nrpassos){
                    @if (Model.modo_subreceita == false){
                        <form asp-controller="ReceitaPassoView" asp-action="ExecuteReceita" asp-route-idreceita="@Model.idReceita" asp-route-numero="@Model.numero" asp-route-username="@User.Identity.Name" asp-route-tempo="@Model.tempo_atual">
                            <a asp-route-tempo= id="e"></a>
                            <div class="form-group play_button2" id="next-page">
                                <input id="prox" type="submit" value="Próximo Passo" class="btn btn-default btn-success" />
                                <i class="right"></i>
                            </div>
                        </form>
                    }
                    else{
                        <form asp-controller="ReceitaPassoView" asp-action="ExecuteReceita" asp-route-idreceita="@Model.idReceita" asp-route-numero="@Model.numero" asp-route-username="@User.Identity.Name" asp-route-tempo="@Model.tempo_atual" asp-route-subreceita="true" asp-route-subreceita_num_anterior="@Model.subreceita_num_anterior" asp-route-subreceita_id_principal="@Model.subreceita_id_principal">
                            <a asp-route-tempo= id="e"></a>
                            <div class="form-group play_button2" id="next-page">
                                <input id="prox" type="submit" value="Próximo Passo" class="btn btn-default btn-success" />
                                <i class="right"></i>
                            </div>
                        </form>
                    }
                }

                @if (Model.numero - 1 == Model.nrpassos){
                    @if (Model.modo_subreceita == false){
                        <form asp-controller="ReceitaPassoView" asp-action="RatingReceita" asp-route-idreceita="@Model.idReceita">
                            <div class="form-group play_button2">
                                <input id="finalizar" type="submit" value="Finalizar" class="btn btn-default btn-success" />
                                <i class="right"></i>
                            </div>
                        </form>
                    }
                    else{
                        int proximo = Model.subreceita_num_anterior + 1;
                        <form asp-controller="ReceitaPassoView" asp-action="ExecuteReceita" asp-route-idreceita="@Model.subreceita_id_principal" asp-route-numero="@proximo">
                            <div class="form-group play_button2">
                                <input id="finalizar" type="submit" value="Finalizar" class="btn btn-default btn-success" />
                                <i class="right"></i>
                            </div>
                        </form>
                    }
                }


                @{ Model.numero = Model.numero - 2;/* Passa sempre no ++ de cima, mas pode nao clicar no botao, se passar para aqui é porque é para voltar para trás, mas tambem somou atras, logo retira dois aqui*/}

                @if (Model.numero <= Model.nrpassos && Model.numero != 0){
                    @if (Model.modo_subreceita == false){
                        <form asp-controller="ReceitaPassoView" asp-action="ExecuteReceita" asp-route-idreceita="@Model.idReceita" asp-route-numero="@Model.numero">
                            <div class="form-group play_button1">
                                <i class="left"></i>
                                <input id="ant" type="submit" value="Voltar ao Anterior" class="btn btn-default btn-success" />
                            </div>
                        </form>
                    }
                    else{
                        <form asp-controller="ReceitaPassoView" asp-action="ExecuteReceita" asp-route-idreceita="@Model.idReceita" asp-route-numero="@Model.numero" asp-route-subreceita="true" asp-route-subreceita_num_anterior="@Model.subreceita_num_anterior" asp-route-subreceita_id_principal="@Model.subreceita_id_principal">
                            <div class="form-group play_button1">
                                <i class="left"></i>
                                <input id="ant" type="submit" value="Voltar ao Anterior" class="btn btn-default btn-success" />
                            </div>
                        </form>
                    }
                }

                @if (Model.numero <= Model.nrpassos && Model.numero == 0){
                    @if (Model.modo_subreceita == false){
                        <form asp-controller="ReceitaPassoView" asp-action="SelectReceita" asp-route-id="@Model.idReceita">
                            <div class="form-group play_button1">
                                <i class="left"></i>
                                <input type="submit" value="Voltar à Receita" class="btn btn-default btn-success" />
                            </div>
                        </form>
                    }
                    else{
                        <form asp-controller="ReceitaPassoView" asp-action="ExecuteReceita" asp-route-idreceita="@Model.subreceita_id_principal" asp-route-numero="@Model.subreceita_num_anterior">
                            <div class="form-group play_button1">
                                <i class="left"></i>
                                <input type="submit" value="Voltar à Receita Principal" class="btn btn-default btn-success" />
                            </div>
                        </form>
                    }
                }

            </div>

        </div>

        <aside class="team-left-column col-12 col-md-4 col-lg-3 hide-lg hide-md hide-sm border-left" aria-label="Info">

            @if (Model.ingrediente != null)
            {
                <h3>Ingrediente</h3>
                <ul>
                    <li>@Model.ingrediente.Nome</li>
                </ul>
            }

            @if (Model.utensilios.Count() != 0)
            {
                <h3>Utensílio</h3>
                <ul>
                    @for (int i = 0; i < Model.utensilios.Count(); i++)
                    {
                        <li>@Model.utensilios.ElementAt(i).Descricao</li>
                    }
                </ul>
            }

            @{
                var min = Math.Ceiling(Model.passo.TempoParcial / 60);

                <div class="center">
                    <img src="~/images/clock.png" height="200" width="200" />
                    <b>@min min.</b>
                </div>
            }

        </aside>
    </div>
</div>
