@model FeelItaly.Models.Receita[]

<link rel="stylesheet" href="~/css/GetReceitas.css" />

<div class="text-center">
    <h1 class="display-4">Receitas</h1>
</div>

<div class="hover01 column">
    @{ var rec = Model[0]; }
    <div>
        <a class="nav-link text-dark" asp-controller="ReceitaPassoView" asp-action="SelectReceita" asp-route-id="@rec.idReceita">
            <figure><img src="~/images/Carbonara.jpg" /></figure>
            <span>Carbonara</span>
        </a>
    </div>
    @{ rec = Model[1]; }
    <div>
        <a class="nav-link text-dark" asp-controller="ReceitaPassoView" asp-action="SelectReceita" asp-route-id="@rec.idReceita">
            <figure><img src="~/images/Margherita.jpg" /></figure>
            <span>Pizza Margherita</span>
        </a>
    </div>
    @{ rec = Model[2]; }
    <div>
        <a class="nav-link text-dark" asp-controller="ReceitaPassoView" asp-action="SelectReceita" asp-route-id="@rec.idReceita">
            <figure><img src="~/images/MolhoTomate.jpg" /></figure>
            <span>Molho de Tomate</span>
        </a>
    </div>
</div>
<div class="hover01 column">
    @{ rec = Model[3]; }
    <div>
        <a class="nav-link text-dark" asp-controller="ReceitaPassoView" asp-action="SelectReceita" asp-route-id="@rec.idReceita">
            <figure><img src="~/images/Tagliatelle.jpg" /></figure>
            <span>Tagliatelle</span>
        </a>
    </div>
    @{ rec = Model[4]; }
    <div>
        <a class="nav-link text-dark" asp-controller="ReceitaPassoView" asp-action="SelectReceita" asp-route-id="@rec.idReceita">
            <figure><img src="~/images/LasanhaLegumes.jpg" /></figure>
            <span>Lasanha de Legumes</span>
        </a>
    </div>
</div>
