@model FeelItaly.Models.ReceitaTotal


<h1>@Model.rec.nome</h1>

<img src="~/images/carbonara.jpg" alt="Carbonara">

<table style="width:100%">
    <tr>
        <th>Informação Nutricional</th>
        <th>Tempo</th>
        <th>Avaliação</th>
    </tr>
    <tr>
        <td>@Model.rec.nutricional kcal</td>
        <td>@Model.rec.tempoTotal min</td>
        <td>@Model.rec.avaliacao</td>
    </tr>
</table>

<h3>Passos:</h3>
@foreach (var desc in Model.desc_passos)
{
    <p>Passo @desc.Key: @desc.Value</p>
}

<h5>Comentários:</h5>
@foreach (var coment in Model.coments)
{
    <p>@coment.Descricao @coment.Dataa </p>
}


<!--asp-all-route-data="Model.desc_passos"-->
<form asp-controller="ReceitaPassoView" asp-action="ExecuteReceita" asp-route-idpasso="@Model.idpasso">
    <div class="form-group">
        <input type="submit" value="Iniciar" class="btn btn-default btn-primary" />
    </div>
</form>
