@model FeelItaly.Models.ReceitaTotal

<link rel="stylesheet" href="~/css/SelectReceita.css" />

<h1 class="display-4">@Model.rec.nome</h1>

@if (Model.rec.idReceita == 1)
{
    <div class="text-center">
        <img src="~/images/Carbonara.jpg" alt="Carbonara">
    </div>
}

@if (Model.rec.idReceita == 2)
{
    <div class="text-center">
        <img src="~/images/MolhoTomate.jpg" alt="MolhoTomate">
    </div>
}

@if (Model.rec.idReceita == 3)
{
    <div class="text-center">
        <img src="~/images/PizzaMargherita.jpg" alt="Margherita">
    </div>
}



    <table align="center" style="width:100%">
        <tr>
            <th>Informação Nutricional</th>
            <th>Tempo</th>
            <th>Avaliação</th>
        </tr>
        <tr>
            <td>@Model.rec.nutricional kcal</td>
            <td>@Model.rec.tempoTotal min</td>
            <td>@Model.rec.avaliacao</td>
        </tr>
    </table>

    <h3>Passos:</h3>
    @foreach (var desc in Model.desc_passos)
    {
        <p>Passo @desc.Key: @desc.Value</p>
    }

    <h5>Comentários:</h5>
    @if (Model.coments.Count != 0){
        foreach (var coment in Model.coments){
            @coment.Descricao <font style='font-style:italic; font-size:x-small'>@coment.Dataa</font>
        }
    } else{
            <font style='font-style:italic; font-size:x-small'> (Não existem comentários para esta receita) </font>
    }

<div class="text-center">
            <!--asp-all-route-data="Model.desc_passos"-->
            <form asp-controller="ReceitaPassoView" asp-action="ExecuteReceita" asp-route-idreceita="@Model.rec.idReceita" asp-route-numero="1">
                <div class="form-group">
                    <input type="submit" value="Iniciar" class="btn btn-default btn-primary" />
                </div>
            </form>
</div>
