@model FeelItaly.Models.HistoricoStat

<link rel="stylesheet" href="~/css/Historico.css" />

<dl>
    <dt>
        Receitas cozinhadas
    </dt>


    @{
        foreach (var r in Model.num_receitas.Keys)
        {
            var percentage = Math.Floor((double)((@Model.num_receitas[r] * 100) / @Model.total_realizadas));
            string classs = "percentage percentage-" + percentage;
            <dd class="@classs">
                <span class="text"> @r.nome : @Model.num_receitas[r]</span>
            </dd>
        }
    }

</dl>



<dl>
    <dt>
        Tempos
    </dt>
</dl>
<table id="q-graph">
    <thead>
        <tr>
            <th></th>
            <th class="sent">Estimado</th>
            <th class="paid">Gasto</th>
        </tr>
    </thead>
    <tbody>

        @{
            var i = 1;
            foreach (var r in Model.tempos.Keys)
            {
                string s = "q" + i;
                var sec1 = (@Model.tempos[r].Item1 / 60);
                var sec2 = (@Model.tempos[r].Item2 / 60);
                var sec1r = Math.Round(sec1);
                var sec2r = Math.Round(sec2);
                var tam1 = Math.Floor((sec1 * 375) / 90);
                var tam2 = Math.Floor((sec2 * 375) / 90);
                string s1 = tam1 + "px;";
                string s2 = tam2 + "px;";

                <tr class="qtr" id="@s">
                    <th scope="row">@r.nome</th>
                    <td class="sent bar" style="height: @s1"><p>@sec1r</p></td>
                    <td class="paid bar" style="height: @s2"><p>@sec2r</p></td>
                </tr>

                i++;
            }
        }

    </tbody>
</table>

<div id="ticks">
    <div class="tick" style="height: 59px;"><p>75 min</p></div>
    <div class="tick" style="height: 59px;"><p>60 min</p></div>
    <div class="tick" style="height: 59px;"><p>45 min</p></div>
    <div class="tick" style="height: 59px;"><p>30 min</p></div>
    <div class="tick" style="height: 59px;"><p>15 min</p></div>
</div>

<p>
    <a asp-controller="HistoricoView" asp-action="GetHistorico" asp-route-username="@User.Identity.Name" asp-route-remove="true">
        <div class="form-group center">
            <input type="submit" value="Apagar Histórico" class="btn btn-default btn-success" />
        </div>
    </a>
</p>

